<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mango.customer-timeline-mail-download</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>__MANGO_CODE_ROOT__/scripts/run_customer_timeline_codex_task.py</string>
    <string>--task</string>
    <string>mail-download</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__MANGO_CODE_ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MANGO_MAIL_DATA_ROOT</key>
    <string>/Users/dmitrijfabarisov/Projects/Mango analyse</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__MANGO_CODE_ROOT__/.codex_local/staging/mail_pipeline/mail-download.launchd.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__MANGO_CODE_ROOT__/.codex_local/staging/mail_pipeline/mail-download.launchd.stderr.log</string>
  <key>Disabled</key>
  <true/>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>ThrottleInterval</key>
  <integer>3600</integer>
</dict>
</plist>
