# Значения не хранить в Git. Итоговый файл: ~/.mango_secrets/mango_calls_m1_worker.env, mode 0600.
MANGO_OFFICE_BASE_URL=https://app.mango-office.ru
MANGO_OFFICE_API_KEY=
MANGO_OFFICE_API_SALT=
MANGO_CALLS_EXPECTED_CODE_SHA=
MANGO_CALLS_PIPELINE_ROOT=<HOME>/.mango_local/mango_calls_two_processes
MANGO_CALLS_DAILY_EXPORT_OUT="<HOME>/Yandex.Disk.localized/Mango Calls Resolve"
MANGO_CALLS_MANGO_ENV=<HOME>/.mango_secrets/mango_office.env
MANGO_CALLS_TALLANTO_ENV=<HOME>/.mango_secrets/tallanto_readonly.env
MANGO_CALLS_TALLANTO_EXPORT="<HOME>/.mango_local/tallanto/Contacts_current.csv"
MANGO_CALLS_TALLANTO_SNAPSHOT_AS_OF=<CURRENT_TALLANTO_SNAPSHOT_ISO8601>
MANGO_CALLS_GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_APPLICATION_CREDENTIALS=
