# Значения не хранить в Git. Итоговый файл: ~/.mango_secrets/mango_calls_m1_worker.env, mode 0600.
MANGO_OFFICE_BASE_URL=https://app.mango-office.ru
MANGO_OFFICE_API_KEY=
MANGO_OFFICE_API_SALT=
MANGO_CALLS_EXPECTED_CODE_SHA=
MANGO_CALLS_PIPELINE_ROOT="/Users/dmitrijfabarisov/Projects/Mango analyse/product_data/mango_calls_two_processes"
MANGO_CALLS_DAILY_EXPORT_OUT="/Users/dmitrijfabarisov/Yandex.Disk.localized/Mango Calls Resolve"
MANGO_CALLS_MANGO_ENV=/Users/dmitrijfabarisov/.mango_secrets/mango_office.env
MANGO_CALLS_TALLANTO_ENV=/Users/dmitrijfabarisov/.mango_secrets/tallanto_readonly.env
MANGO_CALLS_TALLANTO_EXPORT="/Users/dmitrijfabarisov/.mango_local/tallanto/Contacts_current.csv"
MANGO_CALLS_TALLANTO_SNAPSHOT_AS_OF=2026-06-20T00:00:00+03:00
MANGO_CALLS_GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_APPLICATION_CREDENTIALS=/Users/dmitrijfabarisov/.mango_secrets/google-mango-calls.json
