<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CUSTOMER_TIMELINE_NIGHTLY_HOME</key>
    <string>__CUSTOMER_TIMELINE_NIGHTLY_HOME__</string>
  </dict>
  <key>Label</key>
  <string>com.mango.customer-timeline-nightly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>__MANGO_CODE_ROOT__/scripts/run_customer_timeline_codex_task.py</string>
    <string>--task</string>
    <string>nightly-warehouse</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__MANGO_CODE_ROOT__</string>
  <key>StandardOutPath</key>
  <string>__CUSTOMER_TIMELINE_NIGHTLY_HOME__/.codex_local/staging/nightly_service/launchd.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__CUSTOMER_TIMELINE_NIGHTLY_HOME__/.codex_local/staging/nightly_service/launchd.stderr.log</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>ThrottleInterval</key>
  <integer>3600</integer>
</dict>
</plist>
