<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mango.customer-timeline-nightly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string>
    <string>PYTHONDONTWRITEBYTECODE=1</string>
    <string>PYTHONPATH=/Users/dmitrijfabarisov/Projects/Mango_email_pipeline_restore/src</string>
    <string>/usr/bin/python3</string>
    <string>/Users/dmitrijfabarisov/Projects/Mango_email_pipeline_restore/scripts/run_customer_timeline_nightly_service.py</string>
    <string>--config</string>
    <string>/Users/dmitrijfabarisov/Projects/Mango_email_pipeline_restore/.codex_local/staging/nightly_service/customer_timeline_nightly_service_config.json</string>
    <string>--summary-only</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/dmitrijfabarisov/Projects/Mango_email_pipeline_restore</string>
  <key>StandardOutPath</key>
  <string>/Users/dmitrijfabarisov/Projects/Mango_email_pipeline_restore/.codex_local/staging/nightly_service/launchd.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/dmitrijfabarisov/Projects/Mango_email_pipeline_restore/.codex_local/staging/nightly_service/launchd.stderr.log</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>20</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>ThrottleInterval</key>
  <integer>3600</integer>
</dict>
</plist>

